In [28]:
import pandas as pd

In [29]:
sheet_names = [
  'homologacion_pais',
  'homologacion_rating',
  'rating_empresa',
  'rating_soberano'
]
data = pd.read_excel("data/data.xlsx", sheet_names, na_values=["null"])

In [30]:
def iterateForData(cb):
  for sheet_name, content in data.items():
    cb(sheet_name, content)

In [31]:
def printDFInformation(sheet_name, content):
  print(f'{sheet_name}')
  print('-' * 20)
  print(content.isnull().sum())
  print('')
  print('*' * 20)
  print('')

iterateForData(printDFInformation)

homologacion_pais
--------------------
pais        0
cod_pais    0
pais_bbg    0
dtype: int64

********************

homologacion_rating
--------------------
orden_agencia    0
agencia          0
agencia_homol    0
rating           0
rating_norma     0
orden_norma      0
dtype: int64

********************

rating_empresa
--------------------
rut         0
dv          0
nombre      0
pais_bbg    0
mdy         0
sp          0
fitch       0
tipo        0
dtype: int64

********************

rating_soberano
--------------------
pais_bbg     0
ticker       0
region       0
sp          30
fitch       57
mdy         30
dtype: int64

********************

In [32]:
def dropColsOfDF(sheet_name, content):
  to_drop = {
    'homologacion_pais': [
      'cod_pais',
    ],
    'homologacion_rating': [
      'orden_agencia',
      'agencia',
    ],
    'rating_empresa': [
      'tipo',
    ],
    'rating_soberano': [
      'ticker',
      'region',
    ],
  }

  for sheet_name_del, col_del in to_drop.items():
    if sheet_name == sheet_name_del:
      content.drop(columns=col_del, inplace=True)

iterateForData(dropColsOfDF)

In [33]:
def replaceStr(sheet_name, content):
  if sheet_name == 'rating_soberano':
    content.replace(to_replace=r'u$', value='', regex=True, inplace=True)
    content.replace(to_replace=r'^[^(?!A)|(?!B)|(?!C)|(?!D)|(?!E)].*', value='', regex=True, inplace=True)

iterateForData(replaceStr)

In [34]:
def toUpperCase(sheet_name, content):
  for column_name in content:
    content[column_name] = content[column_name].astype(str).str.upper()

iterateForData(toUpperCase)

In [35]:
def printDFInformation(sheet_name, content):
  print(f'{sheet_name}')
  print('-' * 20)
  print(content.fillna('').isnull().sum())
  print('')
  print('*' * 20)
  print('')
  
iterateForData(printDFInformation)

homologacion_pais
--------------------
pais        0
pais_bbg    0
dtype: int64

********************

homologacion_rating
--------------------
agencia_homol    0
rating           0
rating_norma     0
orden_norma      0
dtype: int64

********************

rating_empresa
--------------------
rut         0
dv          0
nombre      0
pais_bbg    0
mdy         0
sp          0
fitch       0
dtype: int64

********************

rating_soberano
--------------------
pais_bbg    0
sp          0
fitch       0
mdy         0
dtype: int64

********************

In [36]:
for sheet_name, content in data.items():
  content.fillna('').to_csv(f'data/out{sheet_name}.csv', sep='|')